*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.hero{
  background: linear-gradient(270deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  height:100vh;
  background-size: 150% 150%; /* Make the background larger to allow for smooth animation */
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items:center;
  animation: moveGradient 15s ease infinite;
}
.container1{
    background-color: hsla(180, 76%, 67%, 0.499);
    width:50%;
    height:25%;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.container2{
    background-color: hsla(180, 76%, 67%, 0.499);
    width:50%;
    height:50%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:25px;
    padding-top:25px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.clock span{
   margin:5px;
   text-align: center;
   position: relative;
   padding-bottom: -15px;
}

.clock span::after{
  position:absolute;
  bottom: -45px;
  left:50%;
  font-size:2rem;
  transform: translateX(-50%);
}
#hrs::after,#hours::after{
    content:'Hours';
}
#min::after,#minutes::after{
    content:'Min';
}
#sec::after,#seconds::after{
    content:'Sec';
}
#day{
    font-size:2rem;
    padding-bottom:25px;
}

.btns{
    padding-top:40px;
}

.btns button{
    font-size: 1.4rem;
    margin-left:25px;
    margin-right:25px;
    padding:10px;
    background-color: #fac094;
    border-radius:15px;
    cursor:pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.btns button:hover{
    background-color: #facdab;
    transform: scale(1.05); /* Slightly increase the size */
}